a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: white;
}

.alternate a{
    color: black;
}

.center{
    margin-top: 25vh;
}

.cloud{
    background-color: azure;
    border: 3px solid white;
    border-radius: 2em;
    box-shadow: 0 3px gray
}

body{
    background-color: lightskyblue;
    color: black;
}

.btn{
   margin: 0.2em; 
}

.chest{
    background-color: saddlebrown;
    border: 3px solid goldenrod;
    margin-bottom: 1em;
}

.chest h2{
    border-bottom: 3px solid goldenrod;
}

.container{
    text-align: center;
    word-break: break-all;
}

.home{
    max-width: 40vw;
}

.treasure{
    background-color: goldenrod;
    border: 3px solid gold;
    border-radius: 3em;
    margin-bottom: 1em;
}